body{
  padding-top: 70px;
}
#name-brand{
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}
#about{
/*  background-color: red;
  height: 900px;
  margin-top: -20px;*/
/*  background: url('../images/sf-skyline-pm.jpg') no-repeat;
  height: 900px;
  background-size: cover;*/
  height: 900px;
  display: block;
  position: relative;
}



#about {
  /*content: "";*/
  background: url('../images/sf-skyline-bw.jpg') no-repeat center center fixed;
  opacity: 0.7;
  top: -50px;
  /*left: 0;
  bottom: 0;
  right: 0;
  position: absolute;*/
  /*z-index: -1;   */
  background-size: cover;
  height: 900px;
}
#portfolio{
  background: url('../images/WorkM2.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 900px;
}
#contact{
  background: url('../images/Contact-CoverImage.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 900px;
}
